@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

html,
body {
	font-family: 'Rubik', sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
}

pre > code {
	border-radius: var(--radius-lg);
}
